body {
	margin: 0 0 60px 0;
	color: black;
	min-width: 320px;
	box-sizing: border-box;
}

@font-face {
	font-family: 'News Gothic';
	src: url('../fonts/news-gothic.eot'); /* IE9 Compat Modes */
	src: url('../fonts/news-gothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		// url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/news-gothic.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/news-gothic.ttf')  format('truetype'), /* Safari, Android, iOS */
		// url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

a:link {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #3CF;
}
a:active {
	text-decoration: none;
	color: #999;
}

hr {
	box-sizing: border-box;
}

.block {
	display: block;
}

.page-template-default {
	.main {
		position: relative;
		margin-left: 279px;
		max-width: 480px;
		margin-top: 42px;
		width: 100%;
		@media screen and (max-width: 799px) {
			margin-left: 0;
            margin-top: 220px;
            max-width: none;
            padding: 0 25px;
            box-sizing: border-box;
		}
	}
}

.page-template-page-contact-us {
	.main {
		position: relative;
		margin-left: 279px;
		max-width: 480px;
		margin-top: 42px;
		width: 100%;
		@media screen and (max-width: 799px) {
			margin-left: 0;
            margin-top: 220px;
            max-width: none;
            padding: 0 25px;
            box-sizing: border-box;
		}
		.title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: small;
			letter-spacing: 0.1em;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		> div {
			display: none;
		}
		form {
			table {
				float: none;
				tr {
					&:first-child {
						td {
							div {
								margin-bottom: 10px;
							}
						}	
					}
					&:last-child {
						td {
							span {
								margin-top: 5px;
								margin-bottom: 20px;
							}
						}	
					}
					td {
						padding: 0;
						div:last-child {
							display: none;
						}
						span {
							font-family: Arial, Helvetica, sans-serif!important;
						}
						> span {
							margin-bottom: 2px;
							display: block;
						}
					}
				}
			}
		}
	}
}