.archive {
	.products {
		margin-top: 40px!important;
		margin-left: 270px!important;
		.product {
			width: auto!important;
			margin-bottom: 0!important;
			display: table;
			float: none!important;
			div {
				> a {
					display: table-cell;
					.product-img-wrap {
						width: 204px;
						display: inline-block;
						max-height: 193px;
						text-align: right;
						img {
							display: inline-block;
							max-width: 100%;
							max-height: 100%;
							width: auto;
							height: auto;
							margin-bottom: 0;
							vertical-align: top;
						}
					}				
				}
				.product-details {
					padding-left: 10px;
					display: table-cell;
					vertical-align: middle;
					width: 480px;
					.textBookTitle {
						color: black;
						display: block;
					}
					.textNormal {
						color: black;
						display: block;
					}
					.textNormalSmall {
						margin-top: 16px;
						display: block;
					}
					.out-of-stock {
						color: red;
						margin-top: 10px;
					}
					.product-price {
						margin-top: -10px;
					}
					.button {
						background-color: black;
						color: white;
						font-family: Arial;
						text-transform: uppercase;
						font-family: 'News Gothic';
						letter-spacing: 1px;
		    			font-size: 10px;
		    			border-radius: 0;
		    			padding: 6px;
		    			margin-top: 10px;
		    			display: inline-block;
					}
				}
			}
			hr {
				width: 480px;
				margin: 25px 0 25px 214px;
			}
		}
	}
}
.single-product {
	.product {
		margin-top: 40px!important;
		margin-left: 270px!important;
		width: auto!important;
		margin-bottom: 0!important;
		display: table;
		float: none!important;
		.images {
			display: table-cell;
			width: auto!important;
			float: none!important;
			vertical-align: top;
			a {
				width: 204px;
				display: inline-block;
				max-height: 193px;
				text-align: right;
				img {
					display: inline-block!important;
					max-width: 100%;
					max-height: 100%;
					width: auto!important;
					height: auto;
					margin-bottom: 0;
					vertical-align: top;
				}
			}				
		}
		.summary {
			float: none!important;
			display: table-cell;
			width: auto!important;
			padding-left: 10px;
			vertical-align: middle;
			width: 480px;
			.textBookTitle {
				color: black;
				display: block;
			}
			.textNormal {
				color: black;
				display: block;
			}
			.textNormalSmall {
				margin-top: 16px;
				display: block;
			}
			.out-of-stock {
				color: red;
				margin-top: 10px;
			}
			.product-price {
				margin-top: -10px;
			}
			.button {
				background-color: black;
				color: white;
				font-family: Arial;
				text-transform: uppercase;
				font-family: 'News Gothic';
				letter-spacing: 1px;
    			font-size: 10px;
    			border-radius: 0;
    			padding: 6px;
    			margin-top: 10px;
    			display: inline-block;
    			-webkit-font-smoothing: auto;
			}
			.cart {
				margin-bottom: 0;
				.quantity {
					display: none;
				}
			}
		}
		hr {
			width: 480px;
			margin: 25px 0 25px 214px;
		}
		.book-description {
			width: 480px;
			margin: 25px 0 25px 214px;		
		}
	}
}