.archive {
    .products {
        margin-top: 40px!important;
        margin-left: 270px!important;
        @media screen and (max-width: 899px) {
            margin-left: 0!important;
            margin-top: 220px!important;
        }
        @media screen and (max-width: 599px) {
            padding: 0 25px!important;
        }
        .product {
            width: auto!important;
            margin: 0!important;
            display: table;
            float: none!important;
            font-size: 0;
            padding-right: 25px!important;
            @media screen and (max-width: 599px) {
                width: 100%!important;
            }
            > div {
                display: inline-block;
                > a {
                    display: table-cell;
                    .product-img-wrap {
                        width: 179px;
                        margin-left: 25px;
                        display: inline-block;
                        max-height: 193px;
                        text-align: right;
                        @media screen and (max-width: 599px) {
                            width: auto;
                            margin-left: 0;
                        }
                        img {
                            display: inline-block;
                            // max-width: 100%;
                            max-height: 193px;
                            width: auto;
                            height: auto;
                            margin-bottom: 0;
                            vertical-align: top;
                            max-width: 175px;
                        }
                    }
                }
                .product-details {
                    padding-left: 10px;
                    display: table-cell;
                    vertical-align: middle;
                    width: 480px;
                    font-size: 0;
                    max-width: 100%;
                    @media screen and (max-width: 599px) {
                        display: block;
                        padding-left: 0;
                        margin-top: 15px;
                        width: 100%;
                    }
                    .textBookTitle {
                        color: black;
                        @media screen and (max-width: 599px) {
                            width: 100%!important;
                        }
                        .subtitle {
                            font-size: 10px;
                            letter-spacing: normal;
                        }
                    }
                    .textNormal {
                        color: black;
                        line-height: normal;
                        @media screen and (max-width: 599px) {
                            width: 100%!important;
                        }
                    }
                    .bookdeets {
                        > p {
                            margin-bottom: 0;
                        }
                        > p:not(:first-child) {
                            margin-top: 10px!important;
                        }
                    }
                    .textNormalSmall {
                        display: inline-block;
                        margin-top: 16px;
                        p {
                            margin-top: 0!important;
                        }
                        span {
                            display: inherit;
                        }
                        @media screen and (max-width: 599px) {
                            width: 100%!important;
                        }
                    }
                    .out-of-stock {
                        color: red;
                        margin-top: 10px;
                    }
                    .product-price {
                        margin-top: 0;
                        vertical-align: top;
                    }
                    .button {
                        background-color: black;
                        color: white;
                        font-family: Arial;
                        text-transform: uppercase;
                        font-family: 'News Gothic';
                        letter-spacing: 1px;
                        font-size: 11px;
                        border-radius: 0;
                        padding: 6px 5px 5px 5px;
                        margin-top: 10px;
                        display: inline-block;
                        &.loading:after {
                            display: none;
                        }
                    }
                    .added_to_cart {
                        display: table-cell;
                        font-family: 'News Gothic';
                        font-size: 11px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        padding-top: 8px;
                    }
                    .notavail {
                        display: block;
                        margin-top: 10px;
                        color: red;
                    }
                }
            }
            hr {
                margin: 25px 0 25px 214px;
                @media screen and (max-width: 599px) {
                    width: 100%;
                    margin: 25px 0 25px 0;
                }
            }
        }
    }
}
.single-product {
    .product {
        margin-top: 40px!important;
        margin-left: 270px!important;
        width: auto!important;
        margin-bottom: 0!important;
        display: table;
        float: none!important;
        padding-right: 30px;
        @media screen and (max-width: 899px) {
            margin-left: 0!important;
            margin-top: 220px!important;
            width: 100%!important;
            box-sizing: border-box;
        }
        @media screen and (max-width: 529px) {
            display: block;
            padding: 0 25px!important;
        }
        > div {
            position: relative;
            display: inline-block;
            vertical-align: top;
            @media screen and (max-width: 899px) {
                width: 100%;
                box-sizing: border-box;
            }
            .images {
                display: table-cell;
                width: auto!important;
                float: none!important;
                vertical-align: middle;
                .thumbnails {
                    display: none;
                }
                div {
                    width: 204px;
                    display: inline-block;
                    max-height: 193px;
                    text-align: right;
                    @media screen and (max-width: 529px) {
                        width: auto;
                    }
                    img {
                        display: inline-block!important;
                        // max-width: 100%;
                        max-height: 193px;
                        width: auto!important;
                        height: auto;
                        margin-bottom: 0;
                        vertical-align: top;
                        max-width: 175px;
                    }
                }
            }
            div.summary {
                float: none!important;
                display: table-cell;
                padding-left: 10px;
                vertical-align: middle;
                margin-bottom: 10px!important;
                width: 490px;
                font-size: 0;
                padding-right: 10px;
                box-sizing: border-box;
                @media screen and (max-width: 899px) {
                    position: relative;
                }
                @media screen and (max-width: 529px) {
                    display: block;
                    padding-left: 0;
                    margin-top: 15px;
                    width: 100%!important;
                    padding-right: 0!important;
                }
                .textBookTitle {
                    color: black;
                    @media screen and (max-width: 529px) {
                        width: 100%!important;
                    }
                    .subtitle {
                        font-size: 10px;
                        letter-spacing: normal;
                    }
                }
                .textNormal {
                    color: black;
                    line-height: normal;
                }
                .bookdeets {
                    > p {
                        margin-bottom: 0;
                    }
                    > p:not(:first-child) {
                        margin-top: 10px!important;
                    }
                }
                .textNormalSmall {
                    margin-top: 16px;
                    display: inline-block;
                    p {
                        margin-top: 0;
                    }
                    span {
                        line-height: inherit;
                    }
                }
                .stock.out-of-stock {
                    display: none;
                }
                .out-of-stock {
                    color: red;
                    margin-top: 10px;
                }
                .notavail {
                    display: block;
                    margin-top: 10px;
                    color: red;
                }
                .product-price {
                    margin-top: 0;
                    vertical-align: top;
                }
                .button {
                    background-color: black;
                    color: white;
                    font-family: Arial;
                    text-transform: uppercase;
                    font-family: 'News Gothic';
                    letter-spacing: 1px;
                    font-size: 11px;
                    border-radius: 0;
                    padding: 6px 5px 5px 5px;
                    margin-top: 10px;
                    display: inline-block;
                    -webkit-font-smoothing: auto;
                }
                .cart {
                    margin-bottom: 0;
                    .quantity {
                        display: none;
                    }
                }
                .right-floated {
                    position: absolute;
                    right: 0;
                    width: auto;
                    max-width: 150px;
                    max-height: 100%;
                    height: auto;
                    top: 50%;
                    transform: translateY(-50%);
                    @media screen and (max-width: 529px) {
                        position: relative;
                        top: 0;
                        transform: none;
                        margin-top: 15px;
                    }
                }
                .variations_form {
                    font-size: 10px;
                    table {
                        width: 100%!important;
                        margin-bottom: 0;
                        margin-bottom: 3px;
                        td {
                            display: block;
                            padding: 0;
                            select {
                                min-width: 0px;
                                max-width: 150px;
                                margin-bottom: 0!important;
                                width: 100%;                                
                            }
                        }
                        .label {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 10px;
                            resize: none;
                            label {
                                font-weight: normal;
                            }
                        }
                        .reset_variations {
                            display: none!important;
                        }
                    }
                    .single_variation_wrap {
                        .quantity {
                            float: none;
                            margin-bottom: 3px;
                        }
                        .woocommerce-variation-add-to-cart {
                            margin-top: 0;
                        }
                        .single_add_to_cart_button {
                            margin-top: 0!important;
                        }
                    }
                }
            }
            .padding-right {
                padding-right: 160px!important;
            }
            .books-nav {
                position: absolute;
                bottom: -34px;
                left: 130px;
                @media screen and (max-width: 529px) {
                    position: relative;
                    bottom: 0;
                    left: 0;
                }
                .book-prev {
                    margin-right: 10px; 
                }
                .book-next {
                    margin-left: 10px; 
                }
            }
        }
        hr {
            margin: 8px 0 8px 0;
            @media screen and (max-width: 529px) {
                width: 100%!important;
                // margin: 25px 0 25px 0;
            }
        }
        hr.above-desc {
            max-width: 480px;
            margin: 25px 0 8px 214px;
            @media screen and (max-width: 529px) {
                width: 100%!important;
                margin: 25px 0 8px 0;
            }
        }
        .book-content {
            max-width: 480px;
            display: block;
            @media screen and (max-width: 899px) {
                //max-width: none!important;
                box-sizing: content-box;
                width: auto;
            }
            @media screen and (min-width: 530px) {
                width: calc(100% - 214px)!important;
                left: 214px;            
            }
            @media screen and (max-width: 529px) {
                padding-left: 0;
            }
            .book-description {
                width: 100%;
                margin: 0;
                font-size: 13px;
                @media screen and (max-width: 529px) {
                    width: 100%!important;
                    margin-left: 0!important;
                }
                p {
                    margin-top: 0;
                }
                p:last-child {
                    margin-bottom: 5px!important;
                }
            }
            .about-author {
                width: 100%;
                margin: 0 0 25px 0;
                margin-bottom: 0;
                font-size: 10px;
                @media screen and (max-width: 529px) {
                    width: 100%!important;
                    margin-left: 0!important;
                }
                p {
                    margin-top: 0;
                }
                p:last-child {
                    margin-bottom: 5px!important;
                }
            }
            video {
                width: 100%;
                margin-bottom: 20px;
                vertical-align: bottom;
            }
            .slider {
                width: 100%;
                margin-bottom: 20px;
            }
            .image-gallery {
                width: 100%;
                margin: 0 0 25px 0;
                @media screen and (max-width: 529px) {
                    width: 100%!important;
                    margin-left: 0!important;
                }
                img {
                    margin-bottom: 20px;
                    max-width: 100%;
                    height: auto;
                    display: block;
                }
                img:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .product_cat-books-special-editions {
        div {
            div.summary {
                margin-bottom: 0!important;
            }
        }
    }
    .product_cat-shirts {
        max-width: 850px;
        font-size: 0;
        width: 100%!important;
        padding-left: 270px;
        margin-left: 0!important;
        box-sizing: border-box;
        width: 100%!important;
        max-width: none;
        @media screen and (max-width: 899px) {
            padding-left: 30px;
        }
        > div {
            max-width: 850px;
            width: 100%;
            > div {
                vertical-align: bottom;
                width: 25%;
                display: inline-block;
                @media screen and (max-width: 899px) {
                    width: 30%;
                }
                @media screen and (max-width: 599px) {
                    width: 50%;
                }
                @media screen and (max-width: 479px) {
                    width: 100%;
                    margin-bottom: 40px;
                }
                .summary.entry-summary {
                    width: 100%;
                    display: block!important;
                    padding-right: 10px;
                    padding-left: 0!important;
                    vertical-align: bottom!important;
                    box-sizing: border-box;
                    margin-bottom: 0!important;
                    .textNormalSmall {
                        margin-top: 0!important;
                    }
                    .variations_form {
                        font-size: 10px;
                        table {
                            width: 100%!important;
                            margin-bottom: 0;
                            margin-bottom: 3px;
                            td {
                                display: block;
                                padding: 0;
                                select {
                                    min-width: 0px;
                                    max-width: 150px;
                                    margin-bottom: 0!important;
                                    width: 100%;                                
                                }
                            }
                            .label {
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 10px;
                                resize: none;
                                label {
                                    font-weight: normal;
                                }
                            }
                            .reset_variations {
                                display: none!important;
                            }
                        }
                        .single_variation_wrap {
                            .quantity {
                                float: none;
                                margin-bottom: 3px;
                            }
                            .woocommerce-variation-add-to-cart {
                                margin-top: 0;
                            }
                            .single_add_to_cart_button {
                                margin-top: 0!important;
                            }
                        }
                    }
                }
            }
            > img {
                vertical-align: bottom;
                height: auto;
                width: 40%;
                height: auto;
                @media screen and (max-width: 899px) {
                    width: 35%;
                }
                @media screen and (max-width: 599px) {
                    width: 50%;
                }
                @media screen and (max-width: 479px) {
                    width: 100%;
                }
            }
            .gallery {
                max-width: none!important;
                width: 35%;
                @media screen and (max-width: 599px) {
                    display: none;
                }
                img {
                    padding-left: 10px;
                    vertical-align: bottom;
                    box-sizing: border-box;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .product_cat-trilogy {
        padding: 0 25px;
        > div {
            .images {
                > div {
                    max-height: none!important;
                    width: 204px!important;
                    img {
                        max-height: none!important;
                        width: 100%!important;
                    }
                }
            }
            div.summary {
                padding-left: 50px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
                letter-spacing: 0.1em;
                line-height: 1.3em;
                padding-right: 0;
                @media screen and (max-width: 529px) {
                    margin-top: 40px;
                    padding-left: 0;
                }
                .title {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: small;
                    line-height: normal;
                    text-align: left;
                    resize: none;
                    letter-spacing: 0.1em;
                }
                .content {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: normal;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
}

.woocommerce-message, .woocommerce-error {
    border: none;
    background: transparent;
    margin: 10px 0 0 0!important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: normal;
    text-align: left;
    resize:none;
    display: block;
    color: black;
    padding: 0!important;
    &:before {
        display: none;
    }
    a {
        background: transparent!important;
        color: black!important;
        font-family: Arial, Helvetica, sans-serif;
        float: none!important;
        text-transform: uppercase;
        font-family: 'News Gothic';
        letter-spacing: 1px;
        font-size: 11px!important;
        border-radius: 0!important;
        padding: 6px 5px 5px 5px!important;
        display: inline-block;
        margin-top: 0!important;
        &:hover {
            color: #3CF!important;
        }
    }
}

.woocommerce-error {
    margin-bottom: 20px!important;
}

.wc-backward {
    background: black!important;
    color: white!important;
    font-family: Arial, Helvetica, sans-serif;
    float: none!important;
    text-transform: uppercase;
    font-family: 'News Gothic';
    letter-spacing: 1px;
    font-size: 11px!important;
    border-radius: 0!important;
    padding: 6px 5px 5px 5px!important;
    margin-top: 0!important;
}

.woocommerce-cart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
    .main {
        max-width: none;
        margin-left: 0!important;
        padding-left: 279px!important;
        box-sizing: border-box;
        @media screen and (max-width: 899px) {
            padding-left: 0!important;
            margin-top: 220px;
            padding-right: 0;
        }
        .woocommerce {
            .woocommerce-message {
                margin-bottom: 10px!important;
            }
            padding-right: 25px;
            max-width: 694px;
            @media screen and (max-width: 899px) {
                max-width: none;
                padding-left: 25px;
            }
            table.shop_table {
                border-radius: 0;
                tr {
                    th { 
                        &.product-price {
                            min-width: 10%!important;
                        }
                        &.product-subtotal {
                            min-width: 10%!important;
                        }
                        &.product-quantity {
                            min-width: 0!important;
                        }
                    }
                    td {
                        &.product-price {
                            min-width: 10%!important;
                        }
                        &.product-subtotal {
                            min-width: 10%!important;
                        }
                        &.product-quantity {
                            min-width: 0!important;
                        }
                        &.product-name {
                            .variation {
                                dd {
                                    margin: 0;
                                    p {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                        input.button {
                            background-color: black;
                            color: white;
                            font-family: Arial;
                            text-transform: uppercase;
                            font-family: 'News Gothic';
                            letter-spacing: 1px;
                            font-size: 11px;
                            border-radius: 0;
                            padding: 6px 5px 5px 5px;
                            display: inline-block;
                            width: auto!important;
                        }
                    }
                }
            }
            .cart-collaterals {
                .cart_totals {
                    h2 {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        letter-spacing: 0.1em;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                    .shipping {
                        .woocommerce-shipping-calculator {
                            .button {
                                background-color: black;
                                color: white;
                                font-family: Arial;
                                text-transform: uppercase;
                                font-family: 'News Gothic';
                                letter-spacing: 1px;
                                font-size: 11px;
                                border-radius: 0;
                                padding: 6px 5px 5px 5px;
                                display: inline-block;
                                width: auto!important;
                            }
                        }
                    }
                }
                .shop_table {
                    tr {
                        td {
                            text-align: right;
                        }
                    }
                }
                .wc-proceed-to-checkout {
                    text-align: right;
                    padding-top: 5px;
                    a {
                        background-color: black;
                        color: white;
                        font-family: Arial;
                        text-transform: uppercase;
                        font-family: 'News Gothic';
                        letter-spacing: 1px;
                        font-size: 11px;
                        border-radius: 0;
                        padding: 6px 5px 5px 5px;
                        display: inline-block;
                        margin-bottom: 0;
                    }
                }
            }
            .return-to-shop {
                a {
                    background-color: black;
                    color: white;
                    font-family: Arial;
                    text-transform: uppercase;
                    font-family: 'News Gothic';
                    letter-spacing: 1px;
                    font-size: 11px;
                    border-radius: 0;
                    padding: 6px 5px 5px 5px;
                    display: inline-block;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.woocommerce-checkout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
    .woocommerce-error {
        display: none;
    }
    .checkout {
        .col2-set {
            .col-1 {
                width: 100%;
                .woocommerce-billing-fields {
                    h3 {
                        margin-top: 0;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        letter-spacing: 0.1em;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }
                    .form-row {
                        padding: 0;
                        @media screen and (max-width: 479px) {
                            width: 100%;
                        }
                        input {
                            border-style: solid;
                            border-width: 1px;
                            border-color: #ccc;
                        }
                    }
                    #billing_country_field {
                        #s2id_billing_country {
                            > a {
                                height: 15px;
                                border-radius: 0;
                                padding-left: 0;
                                border-color: #ccc;
                                .select2-chosen {
                                    line-height: 15px;
                                }
                            }
                        }
                    }
                    #billing_state_field {
                        #s2id_billing_state {
                            > a {
                                height: 15px;
                                border-radius: 0;
                                padding-left: 0;
                                border-color: #ccc;
                                .select2-chosen {
                                    line-height: 15px;
                                }
                            }
                        }
                    }
                }
            }
            .col-2 {
                width: 100%;
                .woocommerce-shipping-fields {
                    h3 {
                        margin-top: 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 13px;
                        letter-spacing: 0.1em;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }                    
                    .form-row {
                        padding: 0;
                        @media screen and (max-width: 479px) {
                            width: 100%;
                        }
                        input {
                            border-style: solid;
                            border-width: 1px;
                            border-color: #ccc;
                        }
                        textarea {
                            border-color: #ccc;
                        }
                    }
                    #shipping_country_field {
                        #s2id_shipping_country {
                            > a {
                                height: 15px;
                                border-radius: 0;
                                padding-left: 0;
                                border-color: #ccc;
                                .select2-chosen {
                                    line-height: 15px;
                                }
                            }
                        }
                    }
                    #shipping_state_field {
                        #s2id_shipping_state {
                            > a {
                                height: 15px;
                                border-radius: 0;
                                padding-left: 0;
                                border-color: #ccc;
                                .select2-chosen {
                                    line-height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #order_review_heading {
            margin-top: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            letter-spacing: 0.1em;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .woocommerce-checkout-review-order {
            .woocommerce-checkout-review-order-table {
                border-radius: 0;
            }
            .woocommerce-checkout-payment {
                border-radius: 0!important;
                background: #fff!important;
                border: 1px solid #ccc;
                .payment_box {
                    padding: 8px!important;
                    background-color: #eee!important;
                    color: black!important;
                    &:before {
                        border-bottom-color: #eee!important;
                    }
                    p {
                        margin-top: 0!important;
                    }
                }
                .place-order {
                    margin-bottom: 0;
                    #place_order {
                        background-color: black;
                        color: white;
                        font-family: Arial;
                        text-transform: uppercase;
                        font-family: 'News Gothic';
                        letter-spacing: 1px;
                        font-size: 11px;
                        border-radius: 0;
                        padding: 6px 5px 5px 5px;
                        display: inline-block;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .select2-drop {
        border-color: #ccc;
        border-radius: 0;
    }
}