body {
  margin: 0 0 60px 0;
  color: black;
  min-width: 320px;
  box-sizing: border-box; }

@font-face {
  font-family: 'News Gothic';
  src: url("../fonts/news-gothic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/news-gothic.eot?#iefix") format("embedded-opentype"), url("../fonts/news-gothic.woff") format("woff"), url("../fonts/news-gothic.ttf") format("truetype"); }
a:link {
  color: #000;
  font-weight: bold;
  text-decoration: none; }

a:visited {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: none;
  color: #3CF; }

a:active {
  text-decoration: none;
  color: #999; }

hr {
  box-sizing: border-box; }

.block {
  display: block; }

button:focus, a:focus {
  outline: 0; }

button.button.disabled:hover {
  background-color: black !important; }

.page-template-default .main {
  position: relative;
  margin-left: 279px;
  max-width: 480px;
  margin-top: 42px;
  width: 100%; }
  @media screen and (max-width: 799px) {
    .page-template-default .main {
      margin-left: 0;
      margin-top: 220px;
      max-width: none;
      padding: 0 25px;
      box-sizing: border-box; } }

.page-template-page-contact-us .main {
  position: relative;
  margin-left: 279px;
  max-width: 480px;
  margin-top: 42px;
  width: 100%; }
  @media screen and (max-width: 799px) {
    .page-template-page-contact-us .main {
      margin-left: 0;
      margin-top: 220px;
      max-width: none;
      padding: 0 25px;
      box-sizing: border-box; } }
  .page-template-page-contact-us .main .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .page-template-page-contact-us .main > div {
    display: none; }
  .page-template-page-contact-us .main form table {
    float: none; }
    .page-template-page-contact-us .main form table tr:first-child td div {
      margin-bottom: 10px; }
    .page-template-page-contact-us .main form table tr:last-child td span {
      margin-top: 5px;
      margin-bottom: 20px; }
    .page-template-page-contact-us .main form table tr td {
      padding: 0; }
      .page-template-page-contact-us .main form table tr td div:last-child {
        display: none; }
      .page-template-page-contact-us .main form table tr td span {
        font-family: Arial, Helvetica, sans-serif !important; }
      .page-template-page-contact-us .main form table tr td > span {
        margin-bottom: 2px;
        display: block; }

.woocommerce-Price-currencySymbol {
  display: inline !important; }

.page-template-page-homepage .main {
  position: relative;
  margin-left: 279px;
  max-width: 1074px;
  margin-right: 50px;
  height: 0;
  padding-top: 57.354%; }
  @media screen and (max-width: 1353px) {
    .page-template-page-homepage .main {
      width: 1024px;
      width: -moz-calc(100% - 329px);
      width: -webkit-calc(100% - 329px);
      width: -o-calc(100% - 329px);
      width: calc(100% - 329px); } }
  @media screen and (max-width: 899px) {
    .page-template-page-homepage .main {
      width: 100%;
      width: -moz-calc(100% - 100px);
      width: -webkit-calc(100% - 100px);
      width: -o-calc(100% - 100px);
      width: calc(100% - 100px);
      margin-left: 50px;
      margin-top: 220px; } }
  @media screen and (max-width: 479px) {
    .page-template-page-homepage .main {
      height: auto;
      padding-top: 0; } }
  .page-template-page-homepage .main .top-left-img {
    position: absolute;
    top: 64px; }
    @media screen and (max-width: 1353px) {
      .page-template-page-homepage .main .top-left-img {
        top: 8.247%;
        max-width: 43.945%; } }
    @media screen and (max-width: 479px) {
      .page-template-page-homepage .main .top-left-img {
        position: relative;
        max-width: 93.75%;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto; } }
  .page-template-page-homepage .main .right-img {
    position: absolute;
    left: 544px;
    top: 232px; }
    @media screen and (max-width: 1353px) {
      .page-template-page-homepage .main .right-img {
        left: 53.125%;
        top: 29.897%;
        max-width: 46.875%; } }
    @media screen and (max-width: 479px) {
      .page-template-page-homepage .main .right-img {
        position: relative;
        max-width: 100%;
        left: 0;
        margin-bottom: 80px; } }
  .page-template-page-homepage .main .bottom-left-img {
    position: absolute;
    left: 131px;
    top: 486px; }
    @media screen and (max-width: 1353px) {
      .page-template-page-homepage .main .bottom-left-img {
        left: 12.793%;
        top: 62.629%;
        max-width: 22.656%; } }
    @media screen and (max-width: 479px) {
      .page-template-page-homepage .main .bottom-left-img {
        position: relative;
        max-width: 48.33%;
        left: 0;
        text-align: center;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto; } }
  .page-template-page-homepage .main img {
    max-width: 100%;
    max-height: 100%; }

.archive .products {
  margin-top: 40px !important;
  margin-left: 270px !important; }
  @media screen and (max-width: 899px) {
    .archive .products {
      margin-left: 0 !important;
      margin-top: 220px !important; } }
  @media screen and (max-width: 599px) {
    .archive .products {
      padding: 0 25px !important; } }
  .archive .products .product {
    width: auto !important;
    margin: 0 !important;
    display: table;
    float: none !important;
    font-size: 0;
    padding-right: 25px !important; }
    @media screen and (max-width: 599px) {
      .archive .products .product {
        width: 100% !important; } }
    .archive .products .product > div {
      display: inline-block; }
      .archive .products .product > div > a {
        display: table-cell; }
        .archive .products .product > div > a .product-img-wrap {
          width: 179px;
          margin-left: 25px;
          display: inline-block;
          max-height: 193px;
          text-align: right; }
          @media screen and (max-width: 599px) {
            .archive .products .product > div > a .product-img-wrap {
              width: auto;
              margin-left: 0; } }
          .archive .products .product > div > a .product-img-wrap img {
            display: inline-block;
            max-height: 193px;
            width: auto;
            height: auto;
            margin-bottom: 0;
            vertical-align: top;
            max-width: 175px; }
      .archive .products .product > div .product-details {
        padding-left: 10px;
        display: table-cell;
        vertical-align: middle;
        width: 480px;
        font-size: 0;
        max-width: 100%; }
        @media screen and (max-width: 599px) {
          .archive .products .product > div .product-details {
            display: block;
            padding-left: 0;
            margin-top: 15px;
            width: 100%; } }
        .archive .products .product > div .product-details .textBookTitle {
          color: black; }
          @media screen and (max-width: 599px) {
            .archive .products .product > div .product-details .textBookTitle {
              width: 100% !important; } }
          .archive .products .product > div .product-details .textBookTitle .subtitle {
            font-size: 10px;
            letter-spacing: normal; }
        .archive .products .product > div .product-details .textNormal {
          color: black;
          line-height: normal; }
          @media screen and (max-width: 599px) {
            .archive .products .product > div .product-details .textNormal {
              width: 100% !important; } }
        .archive .products .product > div .product-details .textNormalSmall {
          display: inline-block;
          margin-top: 16px; }
          .archive .products .product > div .product-details .textNormalSmall p {
            margin-top: 0 !important; }
          .archive .products .product > div .product-details .textNormalSmall span {
            display: inherit; }
          @media screen and (max-width: 599px) {
            .archive .products .product > div .product-details .textNormalSmall {
              width: 100% !important; } }
        .archive .products .product > div .product-details .out-of-stock {
          color: red;
          margin-top: 10px; }
        .archive .products .product > div .product-details .product-price {
          margin-top: 0;
          vertical-align: top; }
        .archive .products .product > div .product-details .button {
          background-color: black;
          color: white;
          font-family: Arial;
          text-transform: uppercase;
          font-family: 'News Gothic';
          letter-spacing: 1px;
          font-size: 11px;
          border-radius: 0;
          padding: 6px 5px 5px 5px;
          margin-top: 10px;
          display: inline-block; }
          .archive .products .product > div .product-details .button.loading:after {
            display: none; }
        .archive .products .product > div .product-details .added_to_cart {
          display: table-cell;
          font-family: 'News Gothic';
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding-top: 8px; }
    .archive .products .product hr {
      margin: 25px 0 25px 214px; }
      @media screen and (max-width: 599px) {
        .archive .products .product hr {
          width: 100%;
          margin: 25px 0 25px 0; } }

.single-product .product {
  margin-top: 40px !important;
  margin-left: 270px !important;
  width: auto !important;
  margin-bottom: 0 !important;
  display: table;
  float: none !important;
  padding-right: 30px; }
  @media screen and (max-width: 899px) {
    .single-product .product {
      margin-left: 0 !important;
      margin-top: 220px !important;
      width: 100% !important;
      box-sizing: border-box; } }
  @media screen and (max-width: 529px) {
    .single-product .product {
      display: block;
      padding: 0 25px !important; } }
  .single-product .product > div {
    position: relative;
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 899px) {
      .single-product .product > div {
        width: 100%;
        box-sizing: border-box; } }
    .single-product .product > div .images {
      display: table-cell;
      width: auto !important;
      float: none !important;
      vertical-align: middle; }
      .single-product .product > div .images .thumbnails {
        display: none; }
      .single-product .product > div .images div {
        width: 204px;
        display: inline-block;
        max-height: 193px;
        text-align: right; }
        @media screen and (max-width: 529px) {
          .single-product .product > div .images div {
            width: auto; } }
        .single-product .product > div .images div img {
          display: inline-block !important;
          max-height: 193px;
          width: auto !important;
          height: auto;
          margin-bottom: 0;
          vertical-align: top;
          max-width: 175px; }
    .single-product .product > div div.summary {
      float: none !important;
      display: table-cell;
      padding-left: 10px;
      vertical-align: middle;
      margin-bottom: 10px !important;
      width: 490px;
      font-size: 0;
      padding-right: 10px;
      box-sizing: border-box; }
      @media screen and (max-width: 899px) {
        .single-product .product > div div.summary {
          position: relative; } }
      @media screen and (max-width: 529px) {
        .single-product .product > div div.summary {
          display: block;
          padding-left: 0;
          margin-top: 15px;
          width: 100% !important;
          padding-right: 0 !important; } }
      .single-product .product > div div.summary .textBookTitle {
        color: black; }
        @media screen and (max-width: 529px) {
          .single-product .product > div div.summary .textBookTitle {
            width: 100% !important; } }
        .single-product .product > div div.summary .textBookTitle .subtitle {
          font-size: 10px;
          letter-spacing: normal; }
      .single-product .product > div div.summary .textNormal {
        color: black;
        line-height: normal; }
      .single-product .product > div div.summary .textNormalSmall {
        margin-top: 16px;
        display: inline-block; }
        .single-product .product > div div.summary .textNormalSmall p {
          margin-top: 0; }
        .single-product .product > div div.summary .textNormalSmall span {
          line-height: inherit; }
      .single-product .product > div div.summary .stock.out-of-stock {
        display: none; }
      .single-product .product > div div.summary .out-of-stock {
        color: red;
        margin-top: 10px; }
      .single-product .product > div div.summary .product-price {
        margin-top: 0;
        vertical-align: top; }
      .single-product .product > div div.summary .button {
        background-color: black;
        color: white;
        font-family: Arial;
        text-transform: uppercase;
        font-family: 'News Gothic';
        letter-spacing: 1px;
        font-size: 11px;
        border-radius: 0;
        padding: 6px 5px 5px 5px;
        margin-top: 10px;
        display: inline-block;
        -webkit-font-smoothing: auto; }
      .single-product .product > div div.summary .cart {
        margin-bottom: 0; }
        .single-product .product > div div.summary .cart .quantity {
          display: none; }
      .single-product .product > div div.summary .right-floated {
        position: absolute;
        right: 0;
        width: auto;
        max-width: 150px;
        max-height: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%); }
        @media screen and (max-width: 529px) {
          .single-product .product > div div.summary .right-floated {
            position: relative;
            top: 0;
            transform: none;
            margin-top: 15px; } }
      .single-product .product > div div.summary .variations_form {
        font-size: 10px; }
        .single-product .product > div div.summary .variations_form table {
          width: 100% !important;
          margin-bottom: 0;
          margin-bottom: 3px; }
          .single-product .product > div div.summary .variations_form table td {
            display: block;
            padding: 0; }
            .single-product .product > div div.summary .variations_form table td select {
              min-width: 0px;
              max-width: 150px;
              margin-bottom: 0 !important;
              width: 100%; }
          .single-product .product > div div.summary .variations_form table .label {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            resize: none; }
            .single-product .product > div div.summary .variations_form table .label label {
              font-weight: normal; }
          .single-product .product > div div.summary .variations_form table .reset_variations {
            display: none !important; }
        .single-product .product > div div.summary .variations_form .single_variation_wrap .quantity {
          float: none;
          margin-bottom: 3px; }
        .single-product .product > div div.summary .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart {
          margin-top: 0; }
        .single-product .product > div div.summary .variations_form .single_variation_wrap .single_add_to_cart_button {
          margin-top: 0 !important; }
    .single-product .product > div .padding-right {
      padding-right: 160px !important; }
    .single-product .product > div .books-nav {
      position: absolute;
      bottom: -34px;
      left: 130px; }
      @media screen and (max-width: 529px) {
        .single-product .product > div .books-nav {
          position: relative;
          bottom: 0;
          left: 0; } }
      .single-product .product > div .books-nav .book-prev {
        margin-right: 10px; }
      .single-product .product > div .books-nav .book-next {
        margin-left: 10px; }
  .single-product .product hr {
    margin: 8px 0 8px 0; }
    @media screen and (max-width: 529px) {
      .single-product .product hr {
        width: 100% !important; } }
  .single-product .product hr.above-desc {
    max-width: 480px;
    margin: 25px 0 8px 214px; }
    @media screen and (max-width: 529px) {
      .single-product .product hr.above-desc {
        width: 100% !important;
        margin: 25px 0 8px 0; } }
  .single-product .product .book-content {
    padding-left: 214px;
    max-width: 480px;
    display: block; }
    @media screen and (max-width: 899px) {
      .single-product .product .book-content {
        box-sizing: content-box;
        width: auto; } }
    @media screen and (max-width: 529px) {
      .single-product .product .book-content {
        padding-left: 0; } }
    .single-product .product .book-content .book-description {
      width: 100%;
      margin: 0;
      font-size: 13px; }
      @media screen and (max-width: 529px) {
        .single-product .product .book-content .book-description {
          width: 100% !important;
          margin-left: 0 !important; } }
      .single-product .product .book-content .book-description p {
        margin-top: 0; }
      .single-product .product .book-content .book-description p:last-child {
        margin-bottom: 5px !important; }
    .single-product .product .book-content .about-author {
      width: 100%;
      margin: 0 0 25px 0;
      margin-bottom: 0;
      font-size: 10px; }
      @media screen and (max-width: 529px) {
        .single-product .product .book-content .about-author {
          width: 100% !important;
          margin-left: 0 !important; } }
      .single-product .product .book-content .about-author p {
        margin-top: 0; }
      .single-product .product .book-content .about-author p:last-child {
        margin-bottom: 5px !important; }
    .single-product .product .book-content video {
      width: 100%;
      margin-bottom: 20px;
      vertical-align: bottom; }
    .single-product .product .book-content .image-gallery {
      width: 100%;
      margin: 0 0 25px 0; }
      @media screen and (max-width: 529px) {
        .single-product .product .book-content .image-gallery {
          width: 100% !important;
          margin-left: 0 !important; } }
      .single-product .product .book-content .image-gallery img {
        margin-bottom: 20px;
        max-width: 100%;
        height: auto;
        display: block; }
      .single-product .product .book-content .image-gallery img:last-child {
        margin-bottom: 0; }
.single-product .product_cat-books-special-editions div div.summary {
  margin-bottom: 0 !important; }
.single-product .product_cat-shirts {
  max-width: 850px;
  font-size: 0;
  width: 100% !important;
  padding-left: 270px;
  margin-left: 0 !important;
  box-sizing: border-box;
  width: 100% !important;
  max-width: none; }
  @media screen and (max-width: 899px) {
    .single-product .product_cat-shirts {
      padding-left: 30px; } }
  .single-product .product_cat-shirts > div {
    max-width: 850px;
    width: 100%; }
    .single-product .product_cat-shirts > div > div {
      vertical-align: bottom;
      width: 25%;
      display: inline-block; }
      @media screen and (max-width: 899px) {
        .single-product .product_cat-shirts > div > div {
          width: 30%; } }
      @media screen and (max-width: 599px) {
        .single-product .product_cat-shirts > div > div {
          width: 50%; } }
      @media screen and (max-width: 479px) {
        .single-product .product_cat-shirts > div > div {
          width: 100%;
          margin-bottom: 40px; } }
      .single-product .product_cat-shirts > div > div .summary.entry-summary {
        width: 100%;
        display: block !important;
        padding-right: 10px;
        padding-left: 0 !important;
        vertical-align: bottom !important;
        box-sizing: border-box;
        margin-bottom: 0 !important; }
        .single-product .product_cat-shirts > div > div .summary.entry-summary .textNormalSmall {
          margin-top: 0 !important; }
        .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form {
          font-size: 10px; }
          .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form table {
            width: 100% !important;
            margin-bottom: 0;
            margin-bottom: 3px; }
            .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form table td {
              display: block;
              padding: 0; }
              .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form table td select {
                min-width: 0px;
                max-width: 150px;
                margin-bottom: 0 !important;
                width: 100%; }
            .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form table .label {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 10px;
              resize: none; }
              .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form table .label label {
                font-weight: normal; }
            .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form table .reset_variations {
              display: none !important; }
          .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form .single_variation_wrap .quantity {
            float: none;
            margin-bottom: 3px; }
          .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form .single_variation_wrap .woocommerce-variation-add-to-cart {
            margin-top: 0; }
          .single-product .product_cat-shirts > div > div .summary.entry-summary .variations_form .single_variation_wrap .single_add_to_cart_button {
            margin-top: 0 !important; }
    .single-product .product_cat-shirts > div > img {
      vertical-align: bottom;
      height: auto;
      width: 40%;
      height: auto; }
      @media screen and (max-width: 899px) {
        .single-product .product_cat-shirts > div > img {
          width: 35%; } }
      @media screen and (max-width: 599px) {
        .single-product .product_cat-shirts > div > img {
          width: 50%; } }
      @media screen and (max-width: 479px) {
        .single-product .product_cat-shirts > div > img {
          width: 100%; } }
    .single-product .product_cat-shirts > div .gallery {
      max-width: none !important;
      width: 35%; }
      @media screen and (max-width: 599px) {
        .single-product .product_cat-shirts > div .gallery {
          display: none; } }
      .single-product .product_cat-shirts > div .gallery img {
        padding-left: 10px;
        vertical-align: bottom;
        box-sizing: border-box;
        width: 100%;
        height: auto; }
.single-product .product_cat-trilogy {
  padding: 0 25px; }
  .single-product .product_cat-trilogy > div .images > div {
    max-height: none !important;
    width: 204px !important; }
    .single-product .product_cat-trilogy > div .images > div img {
      max-height: none !important;
      width: 100% !important; }
  .single-product .product_cat-trilogy > div div.summary {
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    padding-right: 0; }
    @media screen and (max-width: 529px) {
      .single-product .product_cat-trilogy > div div.summary {
        margin-top: 40px;
        padding-left: 0; } }
    .single-product .product_cat-trilogy > div div.summary .title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;
      line-height: normal;
      text-align: left;
      resize: none;
      letter-spacing: 0.1em; }
    .single-product .product_cat-trilogy > div div.summary .content {
      font-family: Arial, Helvetica, sans-serif;
      font-size: normal;
      letter-spacing: 0.1em; }

.woocommerce-message, .woocommerce-error {
  border: none;
  background: transparent;
  margin: 10px 0 0 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: normal;
  text-align: left;
  resize: none;
  display: block;
  color: black;
  padding: 0 !important; }
  .woocommerce-message:before, .woocommerce-error:before {
    display: none; }
  .woocommerce-message a, .woocommerce-error a {
    background: transparent !important;
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
    float: none !important;
    text-transform: uppercase;
    font-family: 'News Gothic';
    letter-spacing: 1px;
    font-size: 11px !important;
    border-radius: 0 !important;
    padding: 6px 5px 5px 5px !important;
    display: inline-block;
    margin-top: 0 !important; }
    .woocommerce-message a:hover, .woocommerce-error a:hover {
      color: #3CF !important; }

.woocommerce-error {
  margin-bottom: 20px !important; }

.wc-backward {
  background: black !important;
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
  float: none !important;
  text-transform: uppercase;
  font-family: 'News Gothic';
  letter-spacing: 1px;
  font-size: 11px !important;
  border-radius: 0 !important;
  padding: 6px 5px 5px 5px !important;
  margin-top: 0 !important; }

.woocommerce-cart {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }
  @media screen and (max-width: 768px) {
    .woocommerce-cart {
      font-size: 12px; } }
  .woocommerce-cart .main {
    max-width: none;
    margin-left: 0 !important;
    padding-left: 279px !important;
    box-sizing: border-box; }
    @media screen and (max-width: 899px) {
      .woocommerce-cart .main {
        padding-left: 0 !important;
        margin-top: 220px;
        padding-right: 0; } }
    .woocommerce-cart .main .woocommerce {
      padding-right: 25px;
      max-width: 694px; }
      .woocommerce-cart .main .woocommerce .woocommerce-message {
        margin-bottom: 10px !important; }
      @media screen and (max-width: 899px) {
        .woocommerce-cart .main .woocommerce {
          max-width: none;
          padding-left: 25px; } }
      .woocommerce-cart .main .woocommerce table.shop_table {
        border-radius: 0; }
        .woocommerce-cart .main .woocommerce table.shop_table tr th.product-price {
          min-width: 10% !important; }
        .woocommerce-cart .main .woocommerce table.shop_table tr th.product-subtotal {
          min-width: 10% !important; }
        .woocommerce-cart .main .woocommerce table.shop_table tr th.product-quantity {
          min-width: 0 !important; }
        .woocommerce-cart .main .woocommerce table.shop_table tr td.product-price {
          min-width: 10% !important; }
        .woocommerce-cart .main .woocommerce table.shop_table tr td.product-subtotal {
          min-width: 10% !important; }
        .woocommerce-cart .main .woocommerce table.shop_table tr td.product-quantity {
          min-width: 0 !important; }
        .woocommerce-cart .main .woocommerce table.shop_table tr td.product-name .variation dd {
          margin: 0; }
          .woocommerce-cart .main .woocommerce table.shop_table tr td.product-name .variation dd p {
            margin-top: 0; }
        .woocommerce-cart .main .woocommerce table.shop_table tr td input.button {
          background-color: black;
          color: white;
          font-family: Arial;
          text-transform: uppercase;
          font-family: 'News Gothic';
          letter-spacing: 1px;
          font-size: 11px;
          border-radius: 0;
          padding: 6px 5px 5px 5px;
          display: inline-block;
          width: auto !important; }
      .woocommerce-cart .main .woocommerce .cart-collaterals .cart_totals h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        letter-spacing: 0.1em;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px; }
      .woocommerce-cart .main .woocommerce .cart-collaterals .cart_totals .shipping .woocommerce-shipping-calculator .button {
        background-color: black;
        color: white;
        font-family: Arial;
        text-transform: uppercase;
        font-family: 'News Gothic';
        letter-spacing: 1px;
        font-size: 11px;
        border-radius: 0;
        padding: 6px 5px 5px 5px;
        display: inline-block;
        width: auto !important; }
      .woocommerce-cart .main .woocommerce .cart-collaterals .shop_table tr td {
        text-align: right; }
      .woocommerce-cart .main .woocommerce .cart-collaterals .wc-proceed-to-checkout {
        text-align: right;
        padding-top: 5px; }
        .woocommerce-cart .main .woocommerce .cart-collaterals .wc-proceed-to-checkout a {
          background-color: black;
          color: white;
          font-family: Arial;
          text-transform: uppercase;
          font-family: 'News Gothic';
          letter-spacing: 1px;
          font-size: 11px;
          border-radius: 0;
          padding: 6px 5px 5px 5px;
          display: inline-block;
          margin-bottom: 0; }
      .woocommerce-cart .main .woocommerce .return-to-shop a {
        background-color: black;
        color: white;
        font-family: Arial;
        text-transform: uppercase;
        font-family: 'News Gothic';
        letter-spacing: 1px;
        font-size: 11px;
        border-radius: 0;
        padding: 6px 5px 5px 5px;
        display: inline-block;
        margin-bottom: 0; }

.woocommerce-checkout {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }
  @media screen and (max-width: 768px) {
    .woocommerce-checkout {
      font-size: 12px; } }
  .woocommerce-checkout .woocommerce-error {
    display: none; }
  .woocommerce-checkout .checkout .col2-set .col-1 {
    width: 100%; }
    .woocommerce-checkout .checkout .col2-set .col-1 .woocommerce-billing-fields h3 {
      margin-top: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      letter-spacing: 0.1em;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .woocommerce-checkout .checkout .col2-set .col-1 .woocommerce-billing-fields .form-row {
      padding: 0; }
      @media screen and (max-width: 479px) {
        .woocommerce-checkout .checkout .col2-set .col-1 .woocommerce-billing-fields .form-row {
          width: 100%; } }
      .woocommerce-checkout .checkout .col2-set .col-1 .woocommerce-billing-fields .form-row input {
        border-style: solid;
        border-width: 1px;
        border-color: #ccc; }
    .woocommerce-checkout .checkout .col2-set .col-1 .woocommerce-billing-fields #billing_country_field #s2id_billing_country > a {
      height: 15px;
      border-radius: 0;
      padding-left: 0;
      border-color: #ccc; }
      .woocommerce-checkout .checkout .col2-set .col-1 .woocommerce-billing-fields #billing_country_field #s2id_billing_country > a .select2-chosen {
        line-height: 15px; }
    .woocommerce-checkout .checkout .col2-set .col-1 .woocommerce-billing-fields #billing_state_field #s2id_billing_state > a {
      height: 15px;
      border-radius: 0;
      padding-left: 0;
      border-color: #ccc; }
      .woocommerce-checkout .checkout .col2-set .col-1 .woocommerce-billing-fields #billing_state_field #s2id_billing_state > a .select2-chosen {
        line-height: 15px; }
  .woocommerce-checkout .checkout .col2-set .col-2 {
    width: 100%; }
    .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields h3 {
      margin-top: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      letter-spacing: 0.1em;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields .form-row {
      padding: 0; }
      @media screen and (max-width: 479px) {
        .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields .form-row {
          width: 100%; } }
      .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields .form-row input {
        border-style: solid;
        border-width: 1px;
        border-color: #ccc; }
      .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields .form-row textarea {
        border-color: #ccc; }
    .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields #shipping_country_field #s2id_shipping_country > a {
      height: 15px;
      border-radius: 0;
      padding-left: 0;
      border-color: #ccc; }
      .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields #shipping_country_field #s2id_shipping_country > a .select2-chosen {
        line-height: 15px; }
    .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields #shipping_state_field #s2id_shipping_state > a {
      height: 15px;
      border-radius: 0;
      padding-left: 0;
      border-color: #ccc; }
      .woocommerce-checkout .checkout .col2-set .col-2 .woocommerce-shipping-fields #shipping_state_field #s2id_shipping_state > a .select2-chosen {
        line-height: 15px; }
  .woocommerce-checkout .checkout #order_review_heading {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .woocommerce-checkout .checkout .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
    border-radius: 0; }
  .woocommerce-checkout .checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment {
    border-radius: 0 !important;
    background: #fff !important;
    border: 1px solid #ccc; }
    .woocommerce-checkout .checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment .payment_box {
      padding: 8px !important;
      background-color: #eee !important;
      color: black !important; }
      .woocommerce-checkout .checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment .payment_box:before {
        border-bottom-color: #eee !important; }
      .woocommerce-checkout .checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment .payment_box p {
        margin-top: 0 !important; }
    .woocommerce-checkout .checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment .place-order {
      margin-bottom: 0; }
      .woocommerce-checkout .checkout .woocommerce-checkout-review-order .woocommerce-checkout-payment .place-order #place_order {
        background-color: black;
        color: white;
        font-family: Arial;
        text-transform: uppercase;
        font-family: 'News Gothic';
        letter-spacing: 1px;
        font-size: 11px;
        border-radius: 0;
        padding: 6px 5px 5px 5px;
        display: inline-block;
        margin-bottom: 0; }
  .woocommerce-checkout .select2-drop {
    border-color: #ccc;
    border-radius: 0; }

header {
  position: absolute;
  top: 0; }
  header .title {
    width: 26px !important; }
  header #MainMenu {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 136px;
    margin-top: 25px;
    height: 160px;
    display: table; }
    header #MainMenu .menu-main-menu-container {
      display: table-cell;
      vertical-align: middle; }
      header #MainMenu .menu-main-menu-container ul {
        padding: 0;
        margin: 0;
        list-style-type: none; }
        header #MainMenu .menu-main-menu-container ul li {
          margin-bottom: 10px; }
          header #MainMenu .menu-main-menu-container ul li:last-child {
            margin-bottom: 0; }
          header #MainMenu .menu-main-menu-container ul li a {
            text-transform: uppercase; }
    header #MainMenu .fa-instagram {
      font-size: 18px; }

.page-template-page-five-year .main {
  position: relative;
  margin-left: 484px;
  max-width: 480px;
  margin-top: 36px; }
  @media screen and (max-width: 999px) {
    .page-template-page-five-year .main {
      padding-left: 25px;
      padding-right: 25px;
      margin-left: 0;
      margin-top: 220px;
      width: 530px;
      max-width: 100%;
      box-sizing: border-box; } }
  .page-template-page-five-year .main .title {
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; }
  .page-template-page-five-year .main div {
    display: block;
    font-size: 0; }
    .page-template-page-five-year .main div a .diary {
      margin-right: 8px; }
      @media screen and (max-width: 999px) {
        .page-template-page-five-year .main div a .diary {
          width: 23%;
          margin-right: 2%; } }
  .page-template-page-five-year .main .look-inside {
    position: absolute;
    left: -124px;
    top: 41px; }
    @media screen and (max-width: 999px) {
      .page-template-page-five-year .main .look-inside {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 20px; } }

.page-template-page-five-year-deets .main {
  position: relative;
  margin-left: 350px;
  max-width: 614px;
  margin-top: 36px; }
  @media screen and (max-width: 999px) {
    .page-template-page-five-year-deets .main {
      padding-left: 25px;
      padding-right: 25px;
      margin-left: 0;
      margin-top: 220px;
      width: 614px;
      max-width: 100%;
      box-sizing: border-box; } }
  .page-template-page-five-year-deets .main img {
    max-width: 100%;
    position: relative;
    margin-bottom: 25px; }

/*# sourceMappingURL=app.css.map */
